<div class="table-responsive-sm">
  <table class="table table-striped table-hover" >
    <caption>Weather Forcast</caption>
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col" *ngFor="let columnHeader of columnHeaders">
          {{columnHeader}}
        </th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rowHeading of rowHeaders">
        <th scope="row">
          <span>{{rowHeading}}</span>
        </th>
        <span  *ngFor="let items of rowData">
          <span *ngIf="items.time == rowHeading">
              <td scope="row">{{items.item.dt_txt}}</td>
          </span>
        </span>
      </tr>
    </tbody>
  </table>
</div>
